html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-- start editing from here --*/
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

img {
    max-width: 100%;
}

body {
    background: #76b852;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #76b852, #8DC26F);
    background: -moz-linear-gradient(to top, #76b852, #8DC26F);
    background: -o-linear-gradient(to top, #76b852, #8DC26F);
    background: linear-gradient(to top, #76b852, #8DC26F);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

h1, .descriptionMarble{
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
}
.descriptionMarble{
    font-size: 2em;
    letter-spacing: 2px;
}
.selectLabel{
    font-size: 1em;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.knikker {
    padding: 3em 0 1em;
}

.knikker-info {
    width: 35%;
    margin: 3em auto;
    background: rgba(0, 0, 0, 0.18);
    background-size: cover;
}

.knikker-top {
    padding: 3em;
}

input[type="text"], input[type="password"] {
    font-size: 0.9em;
    color: #fff;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

input{
    margin: 2em 0;
}

.text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: .9em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
}

::-webkit-input-placeholder {
    color: #fff;
    font-weight: 100;
}

input[type="submit"], input[type="button"] {
    font-size: .9em;
    color: #fff;
    background: #76b852;
    outline: none;
    border: 1px solid #76b852;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
}

input[type="submit"]:hover, input[type="button"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    background: #8DC26F;
}

.knikker-top p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
}

.knikker-top p a {
    color: #fff;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
}

.knikker-top p a:hover {
    color: #76b852;
}
.navbar{
    position:fixed;
    width:100%;
    z-index:1;
    top:0
}

.bar{
    width:100%;
    overflow:hidden;
    color: #fff;
    background-color:#69a04b
}
.bar{
    display:inline-block;
    width:auto
}
.bar .bar-item {
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
.bar{
    position:static;
    float:left
}
.bar-item{
    font-weight: 900;
    white-space:normal;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
    text-align:center;
    width:100%;
}
.bar-item{
    color:rgb(95, 91, 91);
}
.search-item{
    color:#000;
    background-color: rgb(131, 3, 3)
}
.bar-item:hover, .search-item:hover{
    color:#000;
    background-color:#ccc
}
.highlightButton, .logoutButton{
    font-weight: 900;
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
    text-align:center;
    width:100%;
    overflow:hidden;
    color: #3b5c2a;
    background-color: rgb(148, 145, 145)
}
.highlightButton:active, .logoutButton:active, .bar-item:active, .search-item:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.logoutButton{
    color: #021926;
    background-color: #e95454
}
.header{
    padding:0.01em 16px;
    text-align:center;
}
.jumbo {
    font-size:64px
}

.large {
    font-size:45px
}

.middleContent{
    padding-top:64px;
    padding-bottom:64px;
    margin-left:auto;
    margin-right:15%;
    max-width:980px;
}
.middleContent:after{
    content:"";
    display:table;
    clear:both
}
.textContent{padding:0 8px;
    float:left;
    width:67%
}
.topText{
    padding-top:32px;
    padding-bottom:32px
}
.bottomText{
    color:#757575
}
.bottomText:hover{
    transform: scale(1.5);
    color: #0000ff
}
.highlightButton:hover{
    color:#000;
    background-color: #216b42
}
.logoutButton:hover{
    color: #b10c9b;
    background-color: #5b0334
}
.loginButton{
    color: #76b852;
    background-color: #216b42
}
.loginButton:hover{
    color: #b10c9b;
    background-color: #518036;
}
label {
    display: inline-block;
    width: 140px;
    text-align: right;
}

@keyframes rippling {
    50% {
        border-left-color: #fff;
    }

    100% {
        border-bottom-color: #fff;
        border-left-color: #fff;
    }
}
#container {
    margin: auto;
}

#poke-container {
    margin: auto;
    width: 90%;
    padding: 10px;
}

#generate-pokemon {
    margin: 0 auto;
}

#delete-btn {
    position: absolute;
    left: 85%;
    display: none;
    margin-bottom: 5%;
}
